#about-banner {
  background-color: #5162a7;
  color: ghostwhite;
  text-align: center;
  padding: 0.5vw 0;
  font-family: 'Playfair Display', serif;
  font-size: 1.2vw;
  letter-spacing: 0.25vw;
  text-transform: uppercase;
  box-shadow: 0 -1vw 1vw rgba(0, 0, 0, 0.3), 0 1vw 1vw rgba(0, 0, 0, 0.3);
  width: 100%;
}

h1, h2, p {
  font-family: 'Playfair Display', serif;
}

.first-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  height: 80vh;
  background: linear-gradient(to bottom, whitesmoke, #5162a7);
  animation: 2s ease-out 0s 1 slideInFromLeft;
}

.container {
  width: 40vw;
  height: 50vw;
  border-width: 0.2vw;
  border-style: solid;
  border-radius: 5vw;
  flex-direction: row;
  margin-bottom: 10vw;
}

.container-lightskyblue {
  border-color: #5162a7;
  width: 40vw;
  height: 30vw;
  margin: 5vw;
  border-width: 0.2vw;
  border-style: solid;
  border-radius: 5vw;
  flex-direction: row;
  margin-bottom: 10vw;
}

.container-green {
  border-color: lightyellow;
  width: 30vw;
  height: 30vw;
  margin: 5vw;
  border-width: 0.2vw;
  border-style: solid;
  border-radius: 5vw;
  flex-direction: row;
  margin-bottom: 10vw;
}

.container-row {
  display: flex;
}

.container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 2vw;
  border-radius: 7vw;
}

.text-container1 {
  border-radius: 5vw;
  padding: 1vw;
  margin: 1vw;
  font-size: 1vw;
  width: 40vw;
  height: 30vw;
  line-height: 1.5;
  margin-right: 2vw;
  background-color: #5162a7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-container2 {
  justify-items: center;
  align-items: center;
  padding: 2vw;
  border-radius: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-container1 h2, .text-container2 h2 {
  font-size: 2vw;
  margin-bottom: 1vw;
  justify-items: center;
  align-items: center;
  text-align: center;
  color: antiquewhite;
}

.text-container2 h3 {
  font-size: 1.4vw;
  padding-top: 1vw;
  margin-left: 1vw;
  justify-items: center;
  align-items: center;
  text-align: center;
  margin-bottom: 0.5vw;
  width: 15vw;
}

.text-container1 p{
  font-size: 1.1vw;
  margin-bottom: 0.01vw;
  margin-left: 2vw;
  line-height: 2vw;
  color: lightgray;
}

.text-container2 p {
  font-size: 1vw;
  margin-top: 0.5vw;
  margin-bottom: 0.01vw;
  margin-left: 2vw;
  align-items: center;
  justify-items: center;
  line-height: 1.5vw;
}

.second-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50vh;
  background: linear-gradient(to top, whitesmoke, #5162a7);
}

.whyus-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50vw;
}

.why-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 30vw;
}

.why-container p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3vw;
  width: 18vw;
}

.fas {
  color: antiquewhite;
}

@media(max-width: 1025px) {

  #about-banner {

    width: 100%;
  }

  .first-container {
    flex-direction: column;
    height: auto;
  }
  h1 {
    font-size: 6vw;
  }

  .container {
    width: 70vw;
    height: 50vw;
  }

  .container-lightskyblue {
    width: 70vw;
    height: 50vw;
  }

  .text-container1 {
    width: 70vw;
    height: auto;
  }

  .text-container1 h2, .text-container2 h2 {
    font-size: 7vw;
  }

  .text-container1 p{
    font-size: 5vw;
    margin-bottom: 0.01vw;
    margin-left: 2vw;
    line-height: 6vw;
    color: lightgray;
  }

  .second-container {
    height: auto;
  }

  .whyus-container {
    flex-direction: column;
    width: auto;
    height: auto;
    margin-bottom: 3vh;
  }

  .why-container {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: auto;
    text-align: center;
    height: auto;
    margin-bottom: 5vh;
  }

  .text-container2 h3 {
    font-size: 4vw;
    width: 80%;
    margin: auto;
    margin-bottom: 1vh;
  }

  .why-container p {
    font-size: 3.8vw;
    line-height: 4vw;
    margin: auto;
    width: 80%;
  }
}

