<div id="about-banner">
  <h1>O nas</h1>
</div>
<div class="first-container" >
  <div class="container container-lightskyblue">
    <img src="https://pliki.propertynews.pl/i/02/81/80/028180_r0_940.jpg" alt="Obraz">
  </div>
  <div class="text-container1">
    <h2>Kim jesteśmy?</h2>
    <p>Kork-Pyś to profesjonalna firma budowlana z doświadczeniem od 2007 roku.
    <br>Firma Kork-Pyś to zespół doświadczonych fachowców, którzy od lat zajmują się kompleksowymi usługami remontowo-budowlanymi.
      <br>Naszą misją jest dostarczanie najwyższej jakości usług, które spełnią oczekiwania nawet najbardziej wymagających klientów.
      <br>Pracujemy z pasją i zaangażowaniem, dbając o każdy detal naszych realizacji. </p>
  </div>
</div>
<div class="second-container" >
  <div class="text-container2">
    <h2>Dlaczego warto nas wybrać?</h2>
    <div class="whyus-container">
      <div class="why-container">
        <h3><i class="fas fa-check"></i> Doświadczenie i profesjonalizm</h3>
        <p>Od 2007 roku zrealizowaliśmy liczne projekty budowlane, zdobywając cenne doświadczenie i umiejętności. </p>
      </div>
      <div class="why-container">
        <h3><i class="fas fa-check"></i> Jakość i precyzja </h3>
        <p>Każdy projekt wykonujemy z najwyższą starannością, dbając o każdy detal.</p>
      </div>
      <div class="why-container">
        <h3><i class="fas fa-check"></i> Indywidualne podejście</h3>
        <p>Dostarczamy rozwiązania dostosowane do potrzeb i oczekiwań każdego klienta.</p>
      </div>

    </div>
  </div>
</div>

