.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65vw;
  margin: auto;
  margin-left: 2vw;
  padding: 20px;
  height: auto;
  min-height: 65vh;
  background: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.invoice-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: auto;
  margin: auto;
}

@media (max-width: 1025px) {
  .main-container {
    width: auto;
    margin-left: 0;
  }
}
