<div id="background-image" >
  <div class="content">
    <h1>Usługi</h1>
    <div class="service-container">
      <div class="service">
        <h2>Remonty mieszkań i domów</h2>
        <p><i class="fas fa-circle"></i>odświeżenie wnętrz<br> <i class="fas fa-circle"></i>modernizacja <br> <i class="fas fa-circle"></i>adaptacja pomieszczeń.</p>
      </div>
      <div class="service">
        <h2>Budowa domów, bloków, szkół itp</h2>
        <p><i class="fas fa-circle"></i>kompleksowa realizacja projektów budowlanych, od fundamentów po dach.</p>
      </div>
      <div class="service">
        <h2>Wykończenia wnętrz</h2>
        <p><i class="fas fa-circle"></i>malowanie <br><i class="fas fa-circle"></i>tynkowanie<br><i class="fas fa-circle"></i>montaż podłóg<br><i class="fas fa-circle"></i>kafelkowanie <br><i class="fas fa-circle"></i>montaż sufitów podwieszanych</p>
      </div>
      <div class="service">
        <h2>Renowacje i konserwacje</h2>
        <p> <i class="fas fa-circle"></i>odświeżanie elewacji<br><i class="fas fa-circle"></i>naprawy dachów<br><i class="fas fa-circle"></i>izolacje</p>
      </div>
      <div class="grey-service">
        <p>Każde zlecenie traktujemy indywidualnie, dostosowując nasze działania do potrzeb i oczekiwań klienta.</p>
      </div>
      <div class="service">
        <h2>Doradztwo techniczne</h2>
        <p><i class="fas fa-circle"></i>pomoc w wyborze materiałów oraz optymalnych rozwiązań.</p>
      </div>
    </div>
  </div>
</div>
