.data-container {
  width: 20vw;
  margin: 0 auto;
  padding: 20px;
  height: auto;
  min-height: 65vh;

  background: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.data-container h2 {
  text-align: left;
  color: #333;
  font-size: 32px;
  margin-bottom: 20px;
}

.data-row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}

.data-row:last-child {
  border-bottom: none;
}

.data-label {
  color: #555;
  font-weight: bold;
  flex: 1;
  text-align: left;
  padding-right: 10px;
  font-size: 22px;
}

.data-value {
  color: #000;
  flex: 2;
  text-align: left;
  padding-left: 20px;
  word-wrap: break-word;
  overflow-wrap: break-word; /* Ensure breaking and wrapping of long words like email addresses */
  font-size: 22px;
  max-width: 60%; /* Optional: You might adjust this based on your layout needs */
}

@media (max-width: 1025px) {
  .data-container {
    width: auto;
  }

  .data-row {
    flex-direction: column;
    align-items: flex-start;
  }

  .data-label, .data-value {
    text-align: left;
    padding: 5px 0;
    flex: none;
  }

  .data-label {
    padding-right: 0;
  }

  .data-value {
    padding-left: 0;
  }
}
