<div class="data-container">
    <h2>Dane użytkownika</h2>
    <div class="data-row">
      <div class="data-label">Adres:</div>
      <div class="data-value">{{customer?.street + " " + customer?.buildingNumber}}</div>
    </div>
    <div class="data-row">
      <div class="data-label">Kod pocztowy:</div>
      <div class="data-value">{{customer?.postalCode}}</div>
    </div>
    <div class="data-row">
      <div class="data-label">Miasto:</div>
      <div class="data-value">{{customer?.city}}</div>
    </div>
  <div class="data-row">
    <div class="data-label">Email:</div>
    <div class="data-value">{{customer?.mail}}</div>
  </div>
  <div class="data-row">
    <div class="data-label">Telefon:</div>
    <div class="data-value">{{customer?.phoneNumber}}</div>
  </div>
  <br>
  <div class="bad-container">
    <p>Coś się nie zgadza? Zgłoś nam</p>
  </div>
  <br>
  <br>
  <div id="button-container">
    <button class="submit-btn" id="logout-button" (click)="goToChangePassword()" >Zmień hasło</button>
  </div>
</div>

