<div class="reset-password-body">
  <form class="wrapper" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <h1>Resetowanie hasła</h1>
    <br>
    <br>
    <input type="text" formControlName="newPassword" id="newPassword" class="form-control" placeholder="Wprowadź nowe hasło">
    <br>
    <input type="text" formControlName="confirmPassword" id="confirmPassword" class="form-control" placeholder="Powtórz nowe hasło">
    <br>
    <div *ngIf="hasMinLengthError()" class="alert alert-danger">
      Hasło musi być dłuższe niż 6 znaków.
    </div>
    <button type="submit" class="submit-btn">Zresetuj hasło</button>
  </form>
</div>

