<div id="contact-container">
  <div class="contact-info">
    <h2>Kontakt</h2>
    <p><span class="label">Właściciel firmy:</span> &nbsp;Wojciech Nowak</p>
    <p><span class="label"> Adres:</span> &nbsp;Wesołów 247, 32-840 Zakliczyn</p>
    <p><span class="label">☎  Numer telefonu:</span> &nbsp;+48 604 803 587 </p>
    <p><span class="label">✉  Adres e-mail:</span>&nbsp; kpfirma&#64;gmail.com</p>
  </div>
  <div class="google-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2572.6468637166463!2d20.740959911678402!3d49.8490925303619!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473d8c465c4c0c47%3A0x93942fd0a2422ded!2sUs%C5%82ugi%20Remontowo-Budowlane%2C%2CKork-Py%C5%9B%22%20Wojciech%20Nowak!5e0!3m2!1spl!2spl!4v1719652112772!5m2!1spl!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>


