footer{
  display: flex;
  flex-direction: column;
  justify-content: center; /* Wyśrodkowanie elementów wzdłuż osi pionowej */
  width: 80%;
  margin: auto; /* Dodane do wyśrodkowania elementu */

}
