<div class="container">
  <div class="background-image"></div>
  <div class="welcome-container">
    <h1>Witaj na stronie Kork-Pyś</h1>
    <p> | Wybierz, która usługa Cię interesuje |</p>
  </div>
  <div class="main-container">
    <div class="image-container color1" routerLink="/usługi-budowlane">
      <div class="img img1"></div>
      <h2> Usługi <br>Remontowo-Budowlane </h2>
    </div>
    <div class="image-container color3" routerLink="/wypożyczalnia-sprzętu">
      <div class="img img2"></div>
      <h2> Wypożyczalnia sprzętu budowlanego</h2>
    </div>
    <div class="image-container color4" routerLink="/usługi-hds">
      <div class="img img3"></div>
      <h2> Usługi transportowe HDS</h2>
    </div>
    <div class="image-container color2" routerLink="/usługi-asenizacyjne">
      <div class="img img4"></div>
      <h2> Usługi Asenizacyjne <br>- wywóz nieczystości</h2>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="footer-container">
    <p class="center-text">© Usługi Remontowo-Budowlane / Asenizacyjne <br> Kork-Pyś</p>
    <p>  Wesołów 247 <br> 32-840 Zakliczyn </p>
    <p>☎ +48 604 803 587 - remonty <br> ☎ +48 662 055 146 - asenizacja <br> ✉  kpfirma&#64;gmail.com </p>
    <p>Made by Grzegorz Urban
      <a href="https://www.instagram.com/grzesiekx_x/" target="_blank">
        <i class="fab fa-instagram instagram-icon"></i>
      </a>
      <br> grzegorzurban248&#64;gmail.com
    </p>
  </div>
</footer>
