<div class="container">
  <div class="background-image"></div>
  <div class="welcome-container">
    <h1>Witaj na stronie Kork-Pyś</h1>
    <p> | Wybierz, która usługa Cię interesuje |</p>
  </div>
  <div class="main-container">
    <div class="image-container">
      <img src="https://static2.tarnowska.tv/data/articles/xga-1x1-mieszkania-w-palesnicy-w-stu-procentach-z-pieniedzy-rzadowych-1655827193.webp" alt="Usługi Asenizacyjne">
      <h2> Usługi Remontowo-Budowlane "Kork-Pyś"</h2>
      <p class="content-text"> Profesjonalne usługi remontowe i budowlane, w tym remonty, budowa domów oraz prace wykończeniowe, świadczone przez doświadczoną firmę "Kork-Pyś".</p>
    </div>
    <div class="image-container">
      <img src="https://scontent.fktw4-1.fna.fbcdn.net/v/t39.30808-6/274573704_112370571377611_5669208061009311048_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=cc71e4&_nc_ohc=HJssK6wXsokQ7kNvgFTQabk&_nc_ht=scontent.fktw4-1.fna&oh=00_AYAjEXgNia1bXtF4Hh203F-JBlu7a0_07XL6pZ9xaVwNHg&oe=6680D23B" alt="Usługi Remontowo-Budowlane">
      <h2> Usługi Asenizacyjne "Eko Kork-Pyś"</h2>
      <p class="content-text"> Profesjonalne usługi asenizacyjne, w tym opróżnianie szamb, przepompowywanie i transport nieczystości, świadczone przez doświadczoną firmę "Eko Kork-Pyś".</p>
    </div>
  </div>

</div>
<footer class="footer">
  <div class="footer-container">
    <p class="center-text">© Usługi Remontowo-Budowlane / Asenizacyjne <br> Kork-Pyś</p>
    <p>  Wesołów 247 <br> 32-840 Zakliczyn </p>
    <p>☎ +48 604 803 587 - remonty <br> ☎ +48 662 055 146 - asenizacja <br> ✉  kpfirma&#64;gmail.com </p>
    <p>Made by Grzegorz Urban
      <a href="https://www.instagram.com/grzesiekx_x/" target="_blank">
        <i class="fab fa-instagram instagram-icon"></i>
      </a>
      <br> grzegorzurban248&#64;gmail.com
    </p>

  </div>
</footer>
