<div class="wrapper">
  <div [class.login-text]="true" [class.expand]="isExpanded">
    <div class="left-container">
      <button class="cta" (click)="toggle()">
        <fa-icon [icon]="isExpanded ? faChevronUp : faChevronDown"></fa-icon>
      </button>
      <form (ngSubmit)="onSubmit()" [class.text]="true" [class.show-hide]="isExpanded">
        <a>Logowanie</a>
        <hr>
        <br>
        <input type="text" [(ngModel)]="login" name="login" placeholder="Login">
        <br>
        <br>
        <input type="password" [(ngModel)]="password" name="password" placeholder="Hasło">
        <br>
        <button type="submit" class="login-btn">Zaloguj się</button>
      </form>
    </div>
    <div class="right-container">
      <h1>Jak się zalogować?</h1>
      <br>
      <p>1. Login to twój email lub numer telefonu, <br/> np: 123 456 789</p>
      <p>2. Hasło to miejscowość/ulica + nr domu/budynku, <br> np. Słoneczna4, <br> jeśli nie zostało zmienione na indywidualne.</p>
      <p>3. Naciśnij na przycisk "Zaloguj się".</p>
      <br>
      <br>
      <p></p>
      <br>
    </div>
  </div>
  <div class="call-text">
    <h1>Potrzebujesz swojej <span>faktury?</span></h1>
    <p>Zdobądź dostęp do wszystkich swoich faktur!</p>
  </div>
</div>
