<section id="strona-glowna" class="main">
  <div class="spotlight">
    <div class="content">
      <header class="major">
        <h2>Eco Kork-Pyś</h2>
      </header>
      <p>Potrzebujesz stałej umowy do wywozu zanieczyszczeń?<p>
      <p><br>Chcesz skorzystać z jednorazowej usługi związanej z opróżnieniem zbiornika?<br> <br>Oferujemy kompleksowe rozwiązania,<br> sprawdź naszą ofertę lub skontaktuj się z nami, a my pomożemy Ci w realizacji Twoich potrzeb!</p>
    </div>
    <span class="image"></span>
  </div>
</section>
