.card {
  border: 0.1vw solid #ddd;
  border-radius: 2vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 45vh;
  margin: 3vh;
  background-image: linear-gradient(to bottom, #008000, #00ff00, lightgreen, #beffbe); /* Gradient zielony z dodatkowymi odcieniami */
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.image-div {
  margin-top: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 17vh;

}

.card-body {
  width: 80%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-title {
  font-size: 1.25vw;
  font-weight: bold;
  color: #333;
  width: 100%;
  height: 2vh;
  text-align: center;
}

.card-text {
  font-size: 1vw;
  width: 100%;

}


@media (max-width: 1025px) {
  .card {
    width: 60vw;
    height: auto;

  }

  .image-div {
    height: 15vh;
  }

  .card-body {
    height: auto;
  }

  .card-title {
    margin-top: 50px;
    font-size: 5vw;
    height: auto;
  }

  .card-text {
    font-size: 4vw;
    height: auto;
  }
}

