#gallery-main {
  width: 95%; /* Zajmuje całą dostępną szerokość */
  height: 100%; /* Zajmuje całą dostępną wysokość */
  margin: auto;
  margin-bottom: 5vh; /* Dodane */
}

.centered-text {
  text-align: center;
  margin-bottom: 3vh;
  font-size: 2vw;
  width: 100%;
}

.items-contianer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 300px;
  padding-bottom: 7vh;
  border-bottom: 0.05vw solid #adff2f; /* Dodaj linię na dole */
  margin: auto;
}
