<div class="reset-password-body">
  <form class="wrapper" [formGroup]="changeForm" (ngSubmit)="onChangePassword()" >
    <h1>Zmiana hasła</h1>
    <br>
    <br>
    <input type="text" formControlName="currentPassword" id="currentPassword" class="form-control" placeholder="Wprowadź stare hasło">
    <br>
    <input type="text" formControlName="newPassword" id="newPassword" class="form-control" placeholder="Wprowadź nowe hasło">
    <br>
    <div *ngIf="hasMinLengthError()" class="alert alert-danger">
      Hasło musi być dłuższe niż 6 znaków.
    </div>
    <button type="submit" class="submit-btn" [class.button-disabled]="!changeForm.valid" [disabled]="!changeForm.valid">Zmień hasło</button>  </form>
</div>
