#strona-glowna {
  box-shadow: 0 0.2vw 0.7vw 0 #ff0000;
  height: auto;
  justify-content: center;
  display: flex;
  border-radius: 0 0 1vw 1vw;

}

#strona-glowna .spotlight {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

#strona-glowna .spotlight {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

#strona-glowna .spotlight .content {
  font-size: 1.2em;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5vw;
}

#strona-glowna .spotlight .content .major {
  font-weight: bold;
  font-size: 2vw;
  text-align: left;
}

#strona-glowna .spotlight .content p {
  font-size: 1.5vw;
  text-align: left;
  margin-top: 0; /* Adjust or remove the top margin */
  margin-bottom: 0; /* Adjust or remove the bottom margin */
}

#strona-glowna .spotlight .image {
  width: 30vw;
  height: 40vh;
  background-image: url('../../../../../../src/main/resources/static/img/rent-logo.png');
  background-size: cover;
  background-position: 60% center; /* Add this line */
  border-radius: 11vw 20vh 11vw 20vh;
  align-self: center;
}

@media (max-width: 1025px) {
  .spotlight {
    flex-direction: column;
    width: 90%;

  }

  #strona-glowna .spotlight .content h2 {
    font-size: 6vw; /* Adjusted font size */
  }

  #strona-glowna .spotlight .content p {
    font-size: 4.5vw; /* Adjusted font size */
    color: #333; /* Example color change */
  }

  #strona-glowna .spotlight .image {
    width: 70vw;
    height: 40vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 70%;
  }

}
