.card {
  border: 0.1vw solid #ddd;
  border-radius: 2vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 42vh;
  margin: 3vh;
  background-image: linear-gradient(to bottom, #b6b619, #ffff00, #ffff1a, #ffff4b, #ffffb4, whitesmoke);
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.image-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card-body {
  width: 80%;
  height: 70%;
}

.card-title {
  font-size: 1.25vw;
  font-weight: bold;
  color: #333;
}

.card-text {
  font-size: 1vw;
}


