#contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Full height of the viewport */
  padding: 0; /* Remove default padding */
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 5vw;
  width: 30%; /* Zmienione z 40vw na 400px */
}

.contact-info h2 {
  font-size: 2vw; /* Zmienione z 4vw na 40px */
}

.contact-info p {
  font-size: 1.2vw; /* Zmienione z 1.2vw na 12px */
}

.google-map iframe{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 30vw; /* Zmienione z 50vw na 500px */
  height: 43vh; /* Zmienione z 60vh na 600px */
}

.label {
  font-weight: bold;
  color: #8f5601;
}

@media(max-width: 1025px) {
  #contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto; /* Maintain full height of the viewport */
    padding: 0; /* Remove default padding */
    overflow: hidden;
  }

  .contact-info {
    width: 65%; /* Zmienione z 30% na 300px */
  }

  .contact-info h2 {
    font-size: 7vw; /* Zmienione z 4vw na 40px */
    margin-top: 15vh;
  }

  .contact-info p {
    font-size: 5vw; /* Zmienione z 1.2vw na 12px  */
  }

  .google-map iframe{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 70vw;
    height: 30vh;
    margin-bottom: 20px;
  }

  .contact-info p span {
    display: block; /* Makes the span element behave like a block element, moving the content after it to a new line */
  }

  #sec {
    margin-top: -1vh;
    margin-left: 0;
  }

}
