.body-eco {
  background-image: linear-gradient(to bottom, #008000, #00ff00, #80ff80, #adff2f, whitesmoke); /* Gradient zielony z dodatkowymi odcieniami */
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  display: flex;
  justify-content: center; /* Center vertically */
  margin: auto;

}
